.object-list{

    margin-bottom: 30px;
    .btn-favorite{
        border: none;
        background: none;
        position: absolute;
        right: 12px;
        top: 12px;
        color: #fff;
    }
    &__header{
        display: flex;
        align-items: center;
        gap: 12px;
        justify-content: space-between;
        margin-bottom: 1rem;
        h3{
            font-size: 1.5rem;
        }
        a{
            color: $color-primary;
            line-height: 1.5rem;
        }
    }
    &__grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 12px;
        .object-item{
            text-decoration: none;
            position: relative;
            color: $color-font;
            border-radius: $border-radius;
            box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
            
            img{
                max-width: 100%;
                border-radius: $border-radius $border-radius 0 0 ;
                width: 100%;
            }

            &__body{
                position: relative;
                padding: 12px;
                dl{
                    display: flex;
                    gap: 10px;
                    margin-bottom: 8px;
                }
                dt,dd{
                    font-size: 12px;
                    margin-bottom: 5px;
                    line-height: 12px;
                    margin-bottom: 0;
                    font-weight: normal;
                    img{
                        height: 16px;
                        margin-bottom: 0;
                    }
                }
                .city{
                    color: #999;
                }
            }
            &__price{
                position: absolute;
                top: -25px;                
                left: 0;
                span{
                    background: #ffd954;
                    font-size: 1rem;
                    border-radius: 0 $border-radius $border-radius 0;
                    font-weight: bold;
                    padding: 5px 10px;
                }
            }
        }
    }

    @media(max-width: 961px) {
        &__grid{
            grid-template-columns: 1fr 1fr;
        }
    }
}