// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Roboto", sans-serif;;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$color-font: #000929;
$color-primary: #01a0e2;

$header-height: 60px;
$header-inner-height: 50px;
$border-radius: 5px;
