// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

$white: #ffffff;

$theme-colors: (
    "light": #dcd8d7,
    "dark": #02063c,
    "primary": #e74802,
    "secondary": #c9248b,
    "info": #993f6b,
    "success": #579f01,
    "warning": #ffbe5d,
    "danger": #f00063,
);

@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

@import "swiper/css/bundle";

@import "filter";
@import "object-list";
@import "search-bar";
@import "object-single";

.btn-primary {
    color: #fff;
}

.container {
    max-width: 1144px;
}

body {
    font-family: $font-family-sans-serif;
}

.auth-logo {
    img {
        height: 100px;
    }
}

.header {
    background: #fff;
    &.sticky {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9;
    }
    &__top {
        background: $color-primary;
        &__grid {
            display: flex;
            justify-content: space-between;
        }
    }
    &__bot {
        height: $header-height;
        position: relative;
    }
    &__grid {
        display: flex;
        height: $header-height;
        align-items: center;
        justify-content: space-between;
    }
    &-logo {
        background: #fff;
        padding-left: 1.5rem;
        img {
            height: 33px;
        }
    }
    .user-nav {
        list-style: none;
        display: flex;
        justify-content: flex-end;
        gap: 20px;
        padding: 0;
        margin: 0;
        padding-right: 12px;
        a {
            text-decoration: none;
            display: block;
            color: #fff;
            display: flex;
            align-items: center;
            gap: 5px;
            i {
                font-size: 1.2rem;
            }
        }
    }
    &-nav {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        height: $header-inner-height;
        justify-content: flex-end;

        &--mobile {
            position: absolute;
            top: 60px;
            left: 0;
            background: #fff;
            z-index: 12;
            width: 100%;
            list-style: none;
            padding: 0;
            margin: 0;
            background: $color-primary;
            a {
                width: 100%;
                text-decoration: none;
                display: block;
                padding: 10px 12px;
                color: #fff;
                span.badge {
                    color: red;
                }
                &:hover {
                    background: #fff;
                    color: $color-font;
                }
            }
        }
        .badge {
            background: red;
        }
        > li {
            position: relative;
            > a {
                text-decoration: none;
                font-size: 16px;
                font-weight: 400;
                color: $color-font;
                font-family: $font-family-sans-serif;
                display: block;
                padding: 0 24px;
                height: $header-inner-height;
                line-height: $header-inner-height;
                border-radius: $border-radius;
                transition: background-color 0.5s ease-out;
                &:hover {
                    background: #eee;
                }
            }
            &:hover {
                > .nav-submenu {
                    visibility: visible;
                    opacity: 1 !important;
                    transform: translateY(0) !important;
                }
            }
            > .nav-submenu {
                position: absolute;
                top: 100%;
                right: 0;
                padding-top: 20px;
                z-index: 5;
                visibility: hidden;
                opacity: 0;
                transform: translateY(-10px);
                transition: transform 0.5s ease-out, opacity 0.5s ease-out;
                > ul {
                    list-style: none;
                    padding: 10px;
                    margin: 0;
                    border-radius: $border-radius;
                    background: $color-primary;
                    width: 300px;
                    position: relative;
                    &:before {
                        content: "";
                        position: absolute;
                        top: -10px;
                        right: 40px; /* Adjust this value to align the corner */
                        width: 0;
                        height: 0;
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        border-bottom: 10px solid $color-primary;
                    }
                    > li {
                        > a {
                            text-decoration: none;
                            font-size: 16px;
                            font-weight: 400;
                            color: #fff;
                            font-family: $font-family-sans-serif;
                            display: block;
                            padding: 0 14px;
                            height: $header-inner-height;
                            line-height: $header-inner-height;
                            border-radius: $border-radius;
                            &:hover {
                                background: #eee;
                                color: $color-font;
                            }
                        }
                    }
                }
            }
        }
        &.user-nav {
            justify-content: end;
        }
    }

    .burger-menu {
        display: none;
    }

    @media (max-width: 961px) {
        &__grid {
            display: flex;
            justify-content: space-between;
            gap: 20px;
        }
        .search-bar {
            flex: 1;
        }
        &-nav {
            display: none;
        }
        .burger-menu {
            display: block;
        }
        .user-nav {
            a {
                span {
                    display: none;
                }
            }
        }
    }
}

.auth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
    .header-logo {
        margin-bottom: 20px;
    }

    .card {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        border: none;
        &-header {
            border: none;
            text-align: center;
            text-transform: uppercase;
        }
    }
}

.home-banner {
    .swiper-slide {
        width: 100%;
        height: 100px;
        background-size: cover;
    }
}

.footer {
    margin-top: 2rem;
    text-align: center;
}
